# --- Compilazione ---
build/
bin/
raw_audio/
windows_build/libs/
windows_build/toolchain/
windows_build/dist/
*.o
*.a
*.so
*.zip

# --- IDE (Clangd / VS Code) ---
.cache/
# Fondamentale escluderlo: contiene percorsi locali assoluti
compile_commands.json

# --- Sistema ---
.DS_Store
*.swp
*~

# --- Nix ---
# Se usi i link ai profili nix
result
.direnv/